<app-menu></app-menu>

<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <h2 *ngIf="!editMode">Add User</h2>
    <h2 *ngIf="editMode">Edit User</h2>
  </mat-toolbar>
    
  
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Family Name</mat-label>
        <input matInput formControlName="familyName" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Identification</mat-label>
        <input matInput formControlName="identification" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>User</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
  
      <div class="password">
        <label>Password:</label>
        <span>
          <strong>
          {{ generatedPassword }}
        </strong>
      </span>
      </div>
      <div>
         <button mat-flat-button color="warn" type="button" (click)="generatePassword()">Generate password</button>
      </div>

      <!-- Radio button group for Role selection -->
      <div class="role-selection">
        <label>User Role:</label>
        <mat-radio-group formControlName="role" class="role-options">
          <mat-radio-button value="1">Admin</mat-radio-button>
          <mat-radio-button value="2">User</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit">{{ editMode ? 'Update' : 'Save' }}</button>
        <button mat-button color="warn" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
  